<h1> new posts</h1>


<form action = "/posts"  method="POST">
        <div><input type = "text" name = "" placeholder="Title"></div>
        <div><input type = "text" name = "" placeholder="Price" ></div>
        <div><textarea name="" name = "" placeholder="Description" ></textarea></div>
        <div><input type = "text" name = "" placeholder="Location" ></div>
        
        <input type="submit">
</form>
 
